*{
  // border: solid 1px;
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 320px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300
}

button, input[type='checkbox']{
  outline: none;
}

.Main h1{
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15)
}

.Form{
  width: 100%;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  input{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
  }
  ::-webkit-input-placeholder { 
    font-style: italic;
    font-weight: 100;
    opacity: .15;
  }
}

.TODOs{
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,.1);

  .ToggleAll{
    position: relative;
    text-align: center;
    transform: rotate(90deg);
    border: none;
    top: -50px;
    visibility: hidden;
  
    &:before{
      visibility: visible;
      position: absolute;
      top: -40px;
      right: -40px;
      content: '❯';
      font-size: 25px;
      color: #e6e6e6;
      padding: 10px 27px 10px 27px;
    }

    &:checked:before{
      color: #737373;
    }
  }

}

.NewTODO{
  padding: 16px 16px 16px 60px;
  font-size: 24px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}


.TODOList{
  margin: 0;
  margin-top: -20px;
  padding: 0;
  list-style: none;
  li{
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
  }
}

.TODOItem{
  position: relative;
  padding: 15px;

  input[type='checkbox']{
    height: 20px;
    width: 20px;
    margin-right: 20px;
    position: relative;
    border: none;
    visibility: hidden;

    &:after{
      visibility: visible;
      content: '\00D7';
      display: block;
      background: white;
      background-image: url('https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-21-32.png');
      font-size: 20px;
      position: absolute;
      height: 20px;
      width: 20px;
      color: transparent;
      transition: .25s all ease-in-out;
      border-radius: 50%;
      line-height: 15px;
      background-position: 0 20px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      border: solid 1px rgba(0,0,0,.2);
    }
    &:checked:after{
      border-color: #d4de4e;
      background-position: 0 0;
    }
  }

  .edit{
    display: none;
    position: absolute;
    height: 100%;
    width: calc(100% - 30px);
    left: 55px;
    top: 0;
    font-size: 20px;
    &:hover{
      display: block;
    }
  }

  &:active{
    label{
      display: none;
    }
    .edit{
      display: block;
    }
  }

  label{
    transition: .3s;
  }

  button{
    position: absolute;
    right: 0;
    top: 8px;
    width: 40px;
    height: 40px;
    background: white;
    border: none;
    font-size: 20px;
    color: #cc9a9a;
    transition: .3s;

    &:hover{
      color: #B76363;
    }
  }
}

.TODOItem.complete label{
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}


.Footer{
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);

  .TODOCount{
    position: absolute;
    left: 20px;
  }

  .Filters{
    list-style-type: none;
    padding: 0;
    margin: auto;

    li{
      display: inline-flex;
      margin-right: 10px;
      cursor: pointer;
      padding: 2px 5px;
      border: solid 1px #fff;
      
      &:hover{
        border: solid 1px rgba(175, 47, 47, 0.1);
        border-radius: 3px;
      }
    }
    li.active{
      border: solid 1px rgba(175, 47, 47, 0.2);
      border-radius: 3px;
    }
  }
}

@media screen and (max-width: 360px){

  .Form ::-webkit-input-placeholder{
    font-size: 20px;
  }

  .TODOItem{
    .edit{
      width: calc(100% - 30px);
    }
  }

  .Footer{
    display: block;
    .Filters {
      list-style-type: none;
      padding: 0;
      margin: auto;
      margin-top: 25px;
      text-align: center;
    }
  }
}